<% model_class = Medium %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.medium', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @item,
          show_path: admin_medium_path(@item),
          index_path: admin_media_path
                }
  %>
</div>

<%= render partial: 'form' %>
